/* ============= Importation Font =============== */
@font-face {
  font-family: panthera;
  src: url('../Police/panthera/panthera.otf');
}

@font-face {
  font-family: beyno-regular;
  src: url('../Police/beyno-regular/beyno-regular.otf');
}

@font-face {
  font-family: wakanda_forever;
  src: url('../Police/wakanda_forever/WakandaForever-Regular.ttf');
}

@font-face {
  font-family: ceantarell;
  src: url('../Police/cantarell/Cantarell-Regular.ttf');
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
        0.837641) 100%, rgba(2, 23, 64, 0) 100%) no-repeat;
}


/* ============= Navigation ============== */
nav {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.logo .icon_SAYNA {
  width: 20px;
}

.logo .icon_SAYNA:hover {
  cursor: pointer;
  filter: invert(84%) sepia(28%) saturate(4432%) hue-rotate(247deg) brightness(97%) contrast(93%);
}

.logo .icon_MARVEL {
  width: 50px;
}

.logo .icon_MARVEL:hover {
  cursor: pointer;
  filter: invert(84%) sepia(28%) saturate(4432%) hue-rotate(247deg) brightness(97%) contrast(93%);
}

.logo .icon_x {
  width: 10px;
}

.logo .icon_x:hover {
  cursor: pointer;
  filter: invert(84%) sepia(28%) saturate(4432%) hue-rotate(247deg) brightness(97%) contrast(93%);
}

.logo img {
  margin: 2px;
}

.nav-bar {
  position: relative;
  right: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.nav-bar a {
  font-family: beyno-regular;
  margin: 20px;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
  color: #857B9C;
}

.nav-bar .active {
  color: #857B9C;
  font-weight: lighter;
  text-decoration: underline;
}


/* ========= #home ============= */
.sec1 {
  background-image: url(../images/Wakanda/Pantherwakanda1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px;
}

.sec1 .container {
  display: flex;
  top: 10px;
  left: 0;
  right: 0;
  height: 680px;
}

.sec1 .container .left {
  color: #FFFFFF;
  position: relative;
  left: 110px;
  top: 220px;
  animation: fadeIN 1s;
}

.sec1 .container .left h1 {
  font-family: beyno-regular;
  color: #FFFFFF;
  font-size: 44px;
  margin: 12px 0;
  color: #857B9C;
  font-weight: lighter;
}

.sec1 .container .left h2 {
  font-family: wakanda_forever;
  text-align: justify;
  color: #FFFFFF;
  font-size: 25px;
  color: #857B9C;
  font-weight: lighter;
  letter-spacing: 3px;
}

.sec1 .container .left p {
  font-family: ceantarell;
  color: #FFFFFF;
  text-align: justify;
  width: 310px;
  position: relative;
  left: 0px;
  top: 15px;
  font-size: 9px;
}



/* ============= #about ============= */
.sec2 {
  background-image: url(../images/Wakanda/Pantherwakanda2.png);
  background-repeat: no-repeat;
  background-position-y: -70px;
  background-position-x: 130px;
  background-size: 1000px;
  padding: 100px 0 70px 0;
  position: relative;
}

.sec2 .container {
  display: flex;
  align-items: center;
  max-width: 1115px;
  margin: 0 auto;
  text-align: justify;
  position: relative;
  animation: fadeIN 1s;
}

.sec2 .container .left {
  color: #FFFFFF;
  position: relative;
  left: 80px;
  width: 39%;

}

.sec2 .container .left h3 {
  font-family: beyno-regular;
  margin: 15px 0;
  color: #857B9C;
  font-weight: lighter;
}

.sec2 .container .left p {
  font-size: 9px;
  font-family: ceantarell;
}

.sec2 .container .left .lien-youtube {
  background-color: rgb(53, 53, 159);
  height: 200px;
  margin: 48px 0 48px 0;

}

.sec2 .container .left .lien-youtube a {
  color: #FFFFFF;
  position: relative;
  left: 50px;
  font-size: 13px;
  font-family: ceantarell;
  top: 35px;
  text-decoration: none;
}

.sec2 .container .right {
  color: #FFFFFF;
  position: relative;
  left: 160px;
  width: 40%;
}

.sec2 .container .right h3 {
  font-family: beyno-regular;
  margin: 10px 0;
  color: #857B9C;
  font-weight: lighter;
}

.sec2 .container .right p {
  font-size: 9px;
  font-family: ceantarell;
}

.sec2 .container .right .Pantherwakanda2-1 {
  position: relative;
  width: 445px;
}

.sec2 .container .right .Pantherwakanda2-1 img {
  width: 440px;
  height: 250px;
}



/* =============== Footer ================ */
footer {
  background-image: url(../images/All-pages/back_footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  position: relative;
}

footer .container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}

footer .container .left {
  position: relative;
  left: 50px;
  transition: 0.300s;
  animation: fadeIN 1s;
}

footer .container .left .footer2 {
  position: relative;
  bottom: 140px;
  left: 50px;
  width: 100px;
}

footer .container .left .footer2 img {
  width: 100px;

}

footer .container .left .footer1 img {
  width: 200px;
}

footer .container .left:hover {
  transition: 0.300s;
  transform: scale(120%);
  align-items: center;
}

footer .container .left .footer2:hover {
  cursor: pointer;
  filter: invert(84%) sepia(28%) saturate(4432%) hue-rotate(247deg) brightness(97%) contrast(93%);
}

footer .container .right {
  width: 600px;
  color: #FFFFFF;
  display: flex;
  margin: 0 auto;
  position: relative;
  left: 60px;
  animation: fadeIN 1s;
}

footer .container .right .propos {
  position: relative;
  width: 200px;
  height: 90px;
  left: 100px;
}

footer .container .right .propos h4 {
  font-family: ceantarell;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 28%;
}

footer .container .right .propos a {
  color: #FFFFFF;
  text-decoration: none;
}

footer .container .right .propos a:hover {
  text-decoration: underline;
}

footer .container .right .propos a span {
  text-transform: uppercase;
  font-weight: lighter;
}

footer .container .right .trouver {
  position: relative;
  left: 130px;
  width: 280px;
  height: 80px;
  text-decoration: none;
}

footer .container .right .trouver h4 {
  font-family: ceantarell;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 28%;
}

footer .container .right .trouver .img-footer {
  position: relative;
  top: 15px;
  transition: 0.300s;
  text-decoration: none;
}

footer .container .right .trouver .img-footer a {
  text-decoration: none;
}

footer .container .right .trouver .img-footer a img {
  width: 30px;
  cursor: pointer;
}

footer .container .right .trouver .img-footer:hover {
  transition: 0.300s;
  transform: scale(120%);
  align-items: center;
}

.right .propos .wkd a {
  position: relative;
  top: 8px;
}

.right .propos .wkd a span {
  font-family: beyno-regular;
  font-weight: lighter;
}

footer .para-footer p {
  color: #FFFFFF;
  position: relative;
  font-family: ceantarell;
  top: 20px;
  font-size: 10px;
  left: 545px;
  width: 380px;
  animation: fadeIN 1s;
}


/* ============= Animation Fade IN =============== */
@keyframes fadeIN{
  from{
    opacity: 0;
    margin-left: -1500px;
    width: 100%;
  }

  to{
    opacity: 1;
    margin-left: 0;
  }
}
